<div class="row">
  <div class="nav-header valign-wrapper">
    <img class="centered"  src="https://qcobjects.dev/qcobjects_01.png" height="50px"/>
    <div class="ge"><p></p><p>Enter your link here!</p></div>
  </div>
</div>


  <component name="redirecting" componentClass="Component" cached="true" controllerClass="GenerateLinkFormController" viewClass="GenerateLinkFormView">
    <routing path="" name="generate_link_form" ></routing>
    <routing path="/" name="generate_link_form" ></routing>
  </component>

  <component name="footer" cached="true" componentClass="Component"></component>
