<!-- SOCIAL MEDIA META TAGS-->

<!-- Place this data between the <head> tags of your website -->
<meta name="description" content="Make a short link with Qln.Link" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Qln.Link">
<meta itemprop="description" content="Make a short link with Qln.Link">
<meta itemprop="image" content="https://qcobjects.dev/qcobjects_01.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="Qln.Link">
<meta name="twitter:description" content="Make a short link with Qln.Link">
<meta name="twitter:creator" content="@author_handle">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://qcobjects.dev/qcobjects_01.png">

<!-- Open Graph data -->
<meta property="og:title" content="Qln.Link" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://sponsorsignup.qcobjects.dev/" />
<meta property="og:image" content="https://qcobjects.dev/qcobjects_01.png" />
<meta property="og:description" content="Make a short link with Qln.Link" />
<meta property="og:site_name" content="Qln.Link" />
<meta property="article:published_time" content="2019-03-29T05:59:00+01:00" />
<meta property="article:modified_time" content="2019-03-29T19:08:47+01:00" />
<meta property="article:section" content="Main" />
<meta property="article:tag" content="qln" />
<!-- END SOCIAL MEDIA META TAGS -->
